/* styles.css */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    --background-color: #1a1a1a;
    --text-color: #ffffff;
}

.container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode button {
    background-color: var(--text-color);
    color: var(--background-color);
}
